nav {
    position: fixed;
    width: 100%;
    background-color: rgb(44, 44, 51);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;

}

.nav-links li {
    display: inline-block;
    padding: 20px;
    padding-top: 2rem;

}

.nav-links a {
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}

.nav-links a:after {
    content: "";
    background-color: aqua;
    height: 3px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    transition: 0.3s;
}

.nav-links a:hover:after {
    width: 100%;

}

.nav-toggle {
    display: none;
}

@media (max-width: 768px) {

    nav {
        background-color: rgb(44, 44, 51);
        
    }

    .nav-links {
        position: absolute;
        background-color: rgb(44, 44, 51);
        top: 40px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.3s ease all;

    }


    .nav-links.open {
        transform: translateX(0);


    }

    .nav-toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;

    }

    .nav-toggle span {
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav-toggle.open>span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav-toggle.open>span:nth-child(2) {
        display: none;
    }

    .nav-toggle.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

}
