.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: aqua;
    padding-bottom: 1rem;


}

p {
    font-size: x-large;
    padding-left: 200px;
    padding-right: 200px;
}

h3{
    padding-left: 200px; 
}


.perfil {
    margin-top: 3rem;
}

@media (max-width: 768px) and (min-width: 501px){

    p, h3 {
        padding-left: 100px;
        padding-right: 100px;

    }

}

@media  (max-width: 340px) and (min-width: 5px){

    p, h3 {
        padding-left: 50px;
        padding-right: 50px;

    }

}

@media (max-width: 500px) and (min-width: 341px){
    p, h3 {
        padding-left: 30px;
        padding-right: 30px;

    }

}